{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Leaflet CSS -->
    <style>
        /* Styliser la carte */
        #map {
            width: 100%;
        }

        /* Styliser les marqueurs */
        .leaflet-marker-icon {
            /* Insérer le chemin de l'icône de marqueur personnalisé */
            background-image: url('marker.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 50px;
            height: 50px;
        }
        /* Style personnalisé pour la bande en bas de page */
        .bottom-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #dc392d;
            color: #fff;
            padding: 7px;
            text-align: center;
            z-index: 9999;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bottom-bar p {
            margin: 0;
            display: inline-block;
        }

        .bottom-bar a {
            color: #fff;
            margin-left: 10px;
        }

        .bottom-bar a:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block body %}
    {% include('header.html.twig') %}
    <!-- body-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">VOTRE NOUVEAU LOOK COMMENCE ICI</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Messieurs, optez pour notre salon de coiffure dédié
                            aux hommes.
                            Faites-nous confiance pour redonner du style à votre look,
                            nous acceptons toutes les moustaches et barbes, quelles que soient leurs tailles et leurs
                            formes. &#128522;</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ path('app_appointment') }}">
                                <i class="fa-solid fa-calendar-days"></i>
                                Prendre un rendez-vous</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                    <img class="img-fluid rounded-3 my-5" src="{{ asset('imgs/page-2.jpg') }}" alt="le salon k"/></div>

            </div>
        </div>
    </header>

    <!-- Features section-->
    <section class="py-5" id="prestations">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Notre savoir-faire assure des services de
                        qualité pour répondre à vos besoins</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <img src="{{ asset('imgs/tend.png') }}">
                            </div>
                            <h2 class="h5"> RASAGE </h2>
                            <p class="mb-0">Optez pour le rasage pour un look raffiné et soigné. Avec des produits de
                                rasage de qualité supérieure,
                                vous pouvez obtenir une expérience de rasage confortable et agréable.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <img src="{{ asset('imgs/barbe.png') }}">
                            </div>
                            <h2 class="h5">RASAGE BARBE</h2>
                            <p class="mb-0">Que vous soyez novice ou barbu expérimenté,
                                un rasage de la barbe régulier peut vous aider à maintenir une apparence professionnelle
                                et à impressionner ceux qui vous entourent
                            </p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <img src="{{ asset('imgs/ciz.png') }}"></div>
                            <h2 class="h5">COUPE DE CHEVEUX</h2>
                            <p class="mb-0">
                                Coupe de cheveux confortable et agréable, tout en obtenant un look qui vous correspond
                                parfaitement.
                                Que vous soyez à la recherche d'un nouveau style ou que vous souhaitiez simplement
                                entretenir votre coupe actuelle.
                            </p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <img src="{{ asset('imgs/kids.png') }}">
                            </div>
                            <h2 class="h5">COUPE DE CHEVEUX POUR ENFANTS</h2>
                            <p class="mb-0">Offrez à vos enfants le look qu'ils méritent avec une coupe de cheveux pour
                                enfants de qualité.
                                Découvrez les dernières tendances et les techniques de coupe de cheveux pour
                                enfants.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-light" id="map" style="height: 400px">
    </section>

    <!-- Blog preview section-->
    <section class="py-5" >
        <div class="container px-5 my-5" >
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Découvrez les meilleurs services de coupe de cheveux et de rasage.
                        </h2>
                    </div>
                </div>
            </div><br>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100  border-0">
                        <img class="card-img-top" src="{{ asset("imgs/face.jpg") }}" style="max-height: 355px" alt="services , le salon k "/>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="{{ asset("imgs/face2.jpg") }}" style="max-height: 355px" alt="services , le salon k"/>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 border-0">
                        <img class="card-img-top" src="{{ asset("imgs/face3.jpg") }}" style="max-height: 350px" alt="services , le salon k"/>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder"> Horaires d'ouverture
                        </h2>
                    </div>
                </div>
            </div><br>
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5" id="horaires">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0 ">
                        <div class="container mt-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Lundi</h5>
                                            <p class="card-text">14h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Mardi</h5>
                                            <p class="card-text">14h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Mercredi</h5>
                                            <p class="card-text">14h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Jeudi</h5>
                                            <p class="card-text">14h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Vendredi</h5>
                                            <p class="card-text">14h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Samedi</h5>
                                            <p class="card-text">10h00 - 19H00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <p class="text-muted">* Fermé le dimanche</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>

    <!-- Team members section-->
    <section class="py-5 bg-light" id="equipe">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">NOTRE ÉQUIPE</h2>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                        <h5 class="fw-bolder">Abdel Karim E.   </h5>
                        <div class="fst-italic text-muted">Coiffeur &amp; CEO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                        <h5 class="fw-bolder">Abdel Malek</h5>
                        <div class="fst-italic text-muted">Coiffeur</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include('footer.html.twig') %}




    <!-- Bande en bas de page avec Bootstrap -->
    <div class="bottom-bar" id="bottom-bar">
        <p class="pull-left">
            Nous respectons votre vie privée. En continuant d'utiliser notre site web, vous acceptez notre politique en matière de cookies.
        </p>
        <a class="nav-link pull-right" href="#" onclick="closeBottomBar()">X</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet-src.min.js"
            integrity="sha512-XQr+/1RXvYozXiwrumwtu3lqQmVwZ8nkLUrC/mc3HBHw4Imh++RXjwtLQFuOz3i65j9CSfKt50x6w/uUY2ovOQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var mymap = L.map('map').setView([44.40326583601811, 0.7050819306854087], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(mymap);
        L.marker([44.40326583601811, 0.7050819306854087]).addTo(mymap)
            .bindPopup("<b>LE SALON <strong>K</strong></b><br />Nous sommes ici.").openPopup();


        // Fermer la bande en bas de page
        function closeBottomBar() {
            document.getElementById("bottom-bar").style.display = "none";
        }
    </script>


{% endblock %}