{% extends 'base_admin.html.twig' %}
{% block body %}
    <div class="page">
        {% include '/admin/sidebar.html.twig' %}

        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                Mes clients
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cards">
                <div class="page-body">
                    <div class="container-xl">
                        <div class="row row-cards">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-vcenter card-table">
                                            <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Prénom</th>
                                                <th>Numéro de téléphone</th>
                                                <th>Total rdv</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for c in clients %}
                                                <tr>
                                                    <td>{{ c.firstname }}</td>
                                                    <td class="text-muted">
                                                        {{ c.lastname }}
                                                    </td>
                                                    <td class="text-muted">{{ c.phone }} </td>
                                                    <td class="text-muted">
                                                        {{ c.appointments|length }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Stats</h3>
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Page</th>
                                                <th class="text-end">Visitors</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="progressbg">
                                                        <div class="progress progressbg-progress">
                                                            <div class="progress-bar bg-primary-lt"
                                                                 style="width: 82.54%" role="progressbar"
                                                                 aria-valuenow="82.54" aria-valuemin="0"
                                                                 aria-valuemax="100" aria-label="82.54% Complete">
                                                                <span class="visually-hidden">82.54% Complete</span>
                                                            </div>
                                                        </div>
                                                        <div class="progressbg-text">Total</div>
                                                    </div>
                                                </td>
                                                <td class="w-1 fw-bold text-end">{{ clients|length }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
