{% extends 'base.html.twig' %}

{% block title %}Le salon K - RDV{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

{% endblock %}
{% block body %}
    {% include('header.html.twig') %}

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <form method="post">
                <h1 class="fw-bolder fs-5 mb-4">Choisissez la date et l'heure de votre rendez-vous</h1>
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-5">
                            <div class="col-lg-4 mb-5">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Choisissez une date
                                    </div>
                                    <form>
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" class="form-control" id="datepicker" name="date"
                                                       style="display: none">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5s">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Choisissez créneau
                                        horaire
                                    </div>
                                    <div class="col-sm">
                                        <div id="no-appointments-alert" class="alert alert-danger d-none" role="alert">
                                            Pas de rendez-vous disponibles pour cette date.
                                        </div>
                                        <div class="overflow-auto" style="height: 300px" id="slots">
                                            {% if avaibles is defined %}
                                                {% for slot in avaibles %}
                                                    <input type="radio" class="btn-check" name="slot"
                                                           id="option-{{ slot }}" autocomplete="off"
                                                           value="{{ slot }}">
                                                    <label class="btn btn-outline-dark" style="width: 100%"
                                                           for="option-{{ slot }}">{{ slot }}</label>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5s">
                                <div class="p-4 p-md-5" id="slots">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">Mes informations</div>

                                    <div class="row mb-4">
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1" class="form-control"
                                                       name="lastname" required />
                                                <label class="form-label" for="form3Example1">Nom </label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example2" class="form-control"
                                                       name="firstname" required/>
                                                <label class="form-label" for="form3Example2">Prénom</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-outline mb-4">
                                        <input type="tel" id="form3Example3" class="form-control phone" name="phone" required/>
                                        <label class="form-label" for="form3Example3">Numéro de téléphone</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block mb-4">Réserver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
    {{ include('_js_input_format.html.twig') }}
    <script>
        $(document).ready(function () {
            $("#datepicker").flatpickr({
                inline: true,
                minDate: "{{ "now"|date("Y/m/d") }}",
                locale: 'fr',
                defaultDate: "{{ "now"|date("Y/m/d") }}",
                disable: [
                    function(date) {
                        return (date.getDay() === 0); // 0 pour dimanche
                    }
                ]
            });

            $('#datepicker').on('change', function () {
                const date = this.value;
                $.ajax({
                    url: '{{ path('app_appointment_list') }}',
                    type: 'POST',
                    data: { date : date },
                    dataType: 'json',
                    success: function (results) {
                        $('#slots').empty();
                        if (results.data.length === 0) {
                            $('#no-appointments-alert').removeClass('d-none');
                        } else {
                            $('#no-appointments-alert').addClass('d-none');
                            $.each(results.data, function (key, slot) {
                                $("#slots").append(
                                    '<input type="radio" class="btn-check" name="slot" id="option-' + slot + '" autocomplete="off" value="' + slot + '">' +
                                    '<label class="btn btn-outline-dark" style="width: 100%" for="option-' + slot + '">' + slot + '</label>'
                                );
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });

        });

    </script>

{% endblock %}
